{% extends 'LucianBgImageBundle::layout.html.twig' %}

{% block content %}
	<div class="app-content" id="app-content">
		<h1 class="title">Login</h1>

		<p>
			Choose between default users 1 - 5: <em>user1/userpass1, user2/userpass2, etc.</em>
			Please upload a jpg or png or it won't work.
		</p>

		<form id="login-form" action="{{ path("_security_check") }}" method="post" id="login">
			<div>
				<label for="username">Username</label>
				<input type="text" id="username" name="_username"/>
			</div>

			<div>
				<label for="password">Password</label>
				<input type="password" id="password" name="_password"/>
			</div>

			<button type="submit" class="sf-button">
            <span class="border-l">
                <span class="border-r">
                    <span class="btn-bg">Login</span>
                </span>
            </span>
			</button>
		</form>
	</div>

	<script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-2.0.3.minjs') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/lucianbgimage/js/bgimage.js') }}"></script>
{% endblock %}
