<!doctype html>
<html lang="en" ng-app="myloApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Hotel Mylo">
	<meta name="author" content="Lucian Hontau">

	<title>Hotel Mylo</title>

	<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap-theme.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/lucianuxspa/css/app.css') }}"/>

	<script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-2.0.3.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.js') }}"></script>

	<script type="text/javascript" src="{{ asset('assets/js/angular/angular.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-route.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-animate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-resource.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/app.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/modules/index/controllers/index.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/modules/security/controllers/security.js') }}"></script>

	{% block head %}{% endblock %}
</head>

<body>

<div class="view-container">
	{% block view_header %}
		<div class="container">
			<div class="masthead">
				<h3 class="text-muted">Hotel Mylo</h3>
				<ul class="nav nav-justified">
					<li class="active"><a href="#/">Home</a></li>
					<li><a href="#/login">Login</a></li>
					<li><a href="#/services">Services</a></li>
					<li><a href="#/downloads">Downloads</a></li>
					<li><a href="#/about">About</a></li>
					<li><a href="#/contact">Contact</a></li>
				</ul>
			</div>
	{% endblock %}

	{# Div for SPA app #}
	<div ng-view class="view-frame"></div>

	{# This is for regular html coming from the backend, if any #}
	<div class="view-content">
		{% block body %}
			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="flash-message">
					<em>Notice</em>: {{ flashMessage }}
				</div>
			{% endfor %}
			{% block content %}{% endblock %}
		{% endblock %}
	</div>

	{% block view_footer %}
			<!-- Site footer -->
			<div class="footer">
				<p>&copy; Hotel Mylo {{ "now"|date("Y") }}</p>
			</div>
		</div> <!-- /container -->
	{% endblock %}
</div>

</body>
</html>
