<!doctype html>
<html lang="en" ng-app="myloApp">

<head>
	<meta charset="utf-8">

	<title>Hotel Mylo</title>

	<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap.css') }}"/>
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap/bootstrap-theme.css') }}"/>
	<link rel="stylesheet" href="{{ asset('bundles/lucianuxspa/css/app.css') }}"/>

	<script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-2.0.3.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-route.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-animate.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular-resource.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/app.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/controllers.js') }}"></script>

	{% block head %}{% endblock %}
</head>

<body>

<div class="view-container">
	<div class="view-header">
		{% block view_header %}{% endblock %}
	</div>

	{# Div for SPA app #}
	<div ng-view class="view-frame"></div>

	{# This is for regular html coming from the backend, if any #}
	<div class="view-content">
		{% block body %}
			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="flash-message">
					<em>Notice</em>: {{ flashMessage }}
				</div>
			{% endfor %}
			{% block content %}{% endblock %}
		{% endblock %}
	</div>

	<div class="view-footer">
		{% block view_footer %}{% endblock %}
	</div>
</div>

</body>
</html>
