<!doctype html>
<html lang="en" ng-app="HotelMyloApp">
<head>
	<meta charset="utf-8">
	{% block title 'Hotel Mylo' %}

	{% block head %}
		<link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="{{ asset('bundles/lucianuxspa/css/app.css') }}"/>

		<script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-2.0.3.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('assets/js/angular/angular.min.js') }}"></script>

		<script type="text/javascript" src="{{ asset('bundles/lucianuxspa/js/app.js') }}"></script>
	{% endblock %}
</head>

<body>
<div class="view-container">
	<div ng-view class="view-frame">
		{% block body %}
			{% for flashMessage in app.session.flashbag.get('notice') %}
				<div class="flash-message">
					<em>Notice</em>: {{ flashMessage }}
				</div>
			{% endfor %}

			{% block content_header %}{% endblock %}
			{% block content %}{% endblock %}
			{% block content_footer %}{% endblock %}
		{% endblock %}
	</div>
</div>

</body>
</html>
