{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/lucianbgimage/css/bgimage.css') }}" />

	<script type="text/javascript" src="{{ asset('assets/js/jquery/jquery-2.0.3.minjs') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/bootstrap/bootstrap.min.js') }}"></script>
	<script type="text/javascript" src="{{ asset('assets/js/angular/angular.min.js') }}"></script>

	<script type="text/javascript" src="{{ asset('bundles/lucianbgimage/js/bgimage.js') }}"></script>
{% endblock %}

{% block title 'Background Uploader' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
        <ul id="menu">
            {% block content_header_more %}
            {% endblock %}
        </ul>

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
